.events {
    margin: 50px 100px 100px 100px;

    &__link {
        display: block;
        padding: 20px 0;
        border-bottom: var(--border-grey);
        font-size: var(--font-size-xxxxl);
        text-decoration: none;
        color: inherit;
        transition: 0.1s;

        &:hover {
            color: white;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}
