.events {
    margin: 50px 100px 0 100px;

    &__link {
        display: block;
        padding: 20px 0;
        border-bottom: var(--border);
        font-size: 50px;
        text-decoration: none;
        color: inherit;
        transition: 0.1s;

        &:hover {
            color: white;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}
