.hidden {
    display: none;
}

.error {
    color: var(--color-danger);
}

.muted {
    color: var(--color-muted);
    font-size: var(--font-size-s);
}

.input-box {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: rgb(24, 24, 28);
    border-radius: 25px;
    transition: 0.1s;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0 0 1px rgb(69, 69, 69);

    &:hover {
        box-shadow: 0 0 2px grey;
    }

    &__input {
        flex: 1;
        border: none;
        padding: 5px;
        background-color: inherit;
        border-top-left-radius: 25px;
        font-weight: 500;
        color: whitesmoke;
        border-bottom-left-radius: 25px;

        &:focus {
            outline: none;
        }
    }

    &__submit {
        border: none;
        background-color: inherit;
        cursor: pointer;
        transition: 0.1s;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        color: rgb(48, 127, 128);
        font-weight: bold;
        padding: 5px;
        text-transform: uppercase;

        &:hover {
            color: rgb(130, 168, 218);
            scale: 1.1;
        }
    }
}
